<!-- Name:Gurleen Buttar
Student Number: 301212754
COMP 229
Section: 003 -->
<!DOCTYPE html>
<html>
  <%- include partials/Head -%> 
  

  <body>   
    <div class="container-fluid">
      <div class="row-6">
        <div class="col-md">
      
          <%- include partials/NavBar -%>        
          </div>
          </div>  
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
        <form class="form" method="POST">
           
            <div class="form-group">
                <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                <label for="QtyTextField">Contact Name</label>
                <input type="string" class="form-control"
                id="NameTextField"
                placeholder="Name"
                name="Name" 
                value="<%= item.Name %>"
                required>
            </div>
            <div class="form-group">
                <label for="QtyTextField">Phone Number</label>
                <input type="number" class="form-control"
                id="NumberTextField"
                placeholder="Number"
                name="Number" 
                value="<%= item.ContactNumber %>"
                required>
            </div>
            <div class="form-group">
                <label for="QtyTextField">Email Address</label>
                <input type="string" class="form-control"
                id="EmailTextField"
                placeholder="Email"
                name="Email" 
                value="<%= item.EmailAddress %>"
                required>
            </div>
            
            <br/>

            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> 
                Submit
            </button>
            
            <a href="/list" class="btn btn-warning">
                <i class="fas fa-undo"></i> 
                Cancel
            </a>

        </form>
    </div>
</div>
          
        </body>
        <%- include partials/Footer -%> 

</html>
