<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="productNameTextField">Product Name</label>
                    <input type="text" class="form-control"
                        id="productNameTextField"
                        placeholder="Enter the Product Name"
                        name="productName" 
                        value="<%= item.ProductName %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="brandTextField">Brand</label>
                    <input type="text" class="form-control"
                        id="brandTextField"
                        placeholder="Enter a brand"
                        name="brand" 
                        value="<%= item.Brand %>"
                        >
                </div>
                <br />
               
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="number" class="form-control"
                        id="priceTextField"
                        placeholder="999.99"
                        name="price" 
                        value="<%= item.Price %>"
                        required>
                </div>
                <div class="form-group">
                    <label for="categoryTextField">Category</label>
                    <input type="text"
                    class="form-control"
                    id="categoryTextField"
                    placeholder="Enter the category"
                    name="category" 
                    value="<%= item.Category %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="conditionTextField">Condition</label>
                    <input type="text"
                    class="form-control"
                    id="conditionTextField"
                    placeholder="Enter the condition"
                    name="condition" 
                    value="<%= item.Condition %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="dateEnabledTextField">Date Enabled</label>
                    <input type="date"
                    class="form-control"
                    id="ateenabledTextField"
                    
                    name="dateenabled" 
                    value="<%= item.DateEnabled %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="lifeTimeTextField">Life Time</label>
                    <input type="date"
                    class="form-control"
                    id="lifetimeTextField"
                    
                    name="lifetime" 
                    value="<%= item.Lifetime %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="brandTextField">Enter Link of the Image</label>
                    <input type="text" class="form-control"
                        id="Imagelinktextfield"
                        placeholder="Enter Image Link"
                        name="Imagelink" 
                        value="<%= item.Imagelink %>"
                        >
                </div>
                
                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/advertisement/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>