<%- include ../partials/header.ejs %>

<!-- Content for the Details page -->
<div class="container">
    <div class="row">
        <div class="md-3 col-md-6">
            <h1><%= title %></h1>

                <div class="form-group">
                    <label for="productNameTextField">Product Name:</label>
                    <strong><%= advertisement.ProductName %></strong>
                </div>
                <div class="form-group">
                    <label for="brandTextField">Brand:</label>
                    <strong><%= advertisement.Brand %></strong>
                </div>
                <div class="form-group">
                    <label for="priceTextField">Price:</label>
                    <strong><%= advertisement.Price %></strong>                    
                </div>
                <div class="form-group">
                    <label for="categoryTextField">Category:</label>
                    <strong><%= advertisement.Category %></strong>
                </div>
                
                <div class="form-group">
                    <label for="conditionTextField">Condition:</label>
                    <strong><%= advertisement.Condition %></strong>                    
                </div>
                <div class="form-group">
                    <label for="dateEnabledTextField">Date Enabled:</label>
                    <strong><%= advertisement.DateEnabled %></strong>                    
                </div>
                <div class="form-group">
                    <label for="lifeTimeTextField">Life Time:</label>
                    <strong><%= advertisement.Lifetime %></strong>                    
                </div>
                
                <br />
                
                <a href="/advertisement/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>
        <div class="md-3 col-md-6">
            <img class="card-img-top" src="<%= advertisement.Imagelink %>">
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>