<!-- Ahnaf Tahmid's work -->

<%- include ../partials/Head.ejs %>

    <!-- Content for list page -->

    <main class="container">
        <div class="row">
            <h1>
                <%= title %>
            </h1>
            <br>
            <div>

                <a href="./add_edit.ejs" class="btn btn-primary align-self-end" role="button">
                    <i class="fas fa-plus-circle"></i> Add a new Product
                </a>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Condition</th>
                        <th class="text-center">Expiry Date</th>

                        <th class="text-center" colspan="3">Actions</th>
                    </tr>

                    <!-- Repeatable Template Row -->

                    <% for(let i = 0; i < AdvertisementList.length; i++) { %>
                        <tr>
                            <td class="text-center">
                                <%= AdvertisementList[i].productName %>
                            </td>
                            <td class="text-center">
                                <%= AdvertisementList[i].brand %>
                            </td>
                            <td class="text-center">
                                <%= AdvertisementList[i].price %>
                            </td>
                            <td class="text-center">
                                <%= AdvertisementList[i].category %>
                            </td>
                            <td class="text-center">
                                <%= AdvertisementList[i].condition %>
                            </td>
                            <td class="text-center">
                                <%= AdvertisementList[i].lifetime %>
                            </td>

                            </td>
                            </td>
                            <td class="text-center">
                                <a href="/advertisement/add_edit/<%= AdvertisementList[i]._id %>" class="btn btn-success btn-sm">
                                    <i class="fas fa-info"></i> </a>
                            </td>

                            <td class="text-center">
                                <a href="/advertisement/delete/<%= AdvertisementList[i]._id %>" class="btn btn-success btn-sm">
                                    <i class="fas fa-info"></i> </a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </main>

    <%- include ../partials/Footer.ejs %>